HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/


.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache


.idea/
*.iws
*.iml
*.ipr

.vscode/

/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

*.log
*.pid
*.seed
*.pid.lock

.env
.env.*
*.tfvars
*.tfvars.json
secrets.json

.terraform/

*.tfstate
*.tfstate.*

crash.log

*.tfplan

override.tf
override.tf.json
*_override.tf
*_override.tf.json

kubeconfig
*.kubeconfig
aws-credentials
.aws/

*.tmp
*.bak
*.swp
.DS_Storeargocd
